


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #21e7ee;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    
}

.container {
    background-color: rgb(112, 240, 84);

    height: 50vh; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
}

h1 {
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #111010;
    border-radius: 5px;
    background-color: #9aa196;
}

select:disabled {
    background-color:  #9aa196;
}